# Step 1: Create and deploy a database using PostgreSQL (or any other DBMS)

After PostgreSQL has been installed, access to the DBMS is available using the command line client `psql`. I will create the database to store data related to a massive open online course (MOOC) platform. To do this, I created database called `mooc` by running `psql` with proper SQL query:

```shell
psql -U postgres -c "CREATE DATABASE mooc;"
```

# Step 2: Create tables (at least two) in the database, defining their schemas

I defined three entities in the database: *Course*, *Student*, and *Enrollment*. They are shown in the following ER diagram:
<img src="mooc_er.png" alt="er-diagram" width="350" height="auto">
There is one-to-many relationship between *Course* and *Enrollment*. In particular, one course can have one, several, or no enrollments, but each enrollment can be made in only one course. *Student* and *Enrollment* also have one-to-many relationship. One student can make any number of enrollments, including no enrollments. Each enrollment, however, can be made by only one student.

I created tables `courses`, `students` and `enrollments` for each of the defined entities.

`courses` table has following columns:
* `id` - primary key
* `title` - course title
* `duration` - course duration
* `paid` - whether the course is paid or not

Columns of `students` table are:
* `id` - primary key
* `username` - unique student's username
* `first_name` - student's first name
* `last_name` - student's last name
* `email` - student's email address

There is following columns in `enrollments` table:
* `id` - primary key
* `student_id` - foreign key that refers to primary key of `students` table
* `course_id` - foreign key that refers to primary key of `courses` table
* `enrollment_time` - time stamp when the student was enrolled in the course

The queries I executed to create these tables in the database are shown below.

In [1]:
%load_ext sql
%config SqlMagic.displaylimit = 0

# Connect to the database
%sql postgresql://postgres:***@localhost/mooc

Deploy Dash apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Connecting to 'postgresql://postgres:***@localhost/mooc'

In [2]:
%%sql
CREATE TABLE courses (
    id SERIAL PRIMARY KEY,
    title VARCHAR(100) NOT NULL,
    duration INTERVAL,
    paid BOOLEAN NOT NULL
);

CREATE TABLE students (
    id SERIAL PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    first_name VARCHAR(100),
    last_name VARCHAR(100) NOT NULL,
    email VARCHAR(50) UNIQUE NOT NULL
);

CREATE TABLE enrollments (
    id SERIAL PRIMARY KEY,
    student_id INTEGER NOT NULL,
    course_id INTEGER NOT NULL,
    enrollment_time TIMESTAMP NOT NULL,
    UNIQUE(student_id, course_id),
    FOREIGN KEY(student_id) REFERENCES students(id),
    FOREIGN KEY(course_id) REFERENCES courses(id)
);

Running query in 'postgresql://postgres:***@localhost/mooc'

++
||
++
++

# Step 3: Load data into the created database

The data to be loaded into the database are stored in files [`courses.csv`](table_data/courses.csv), [`students.csv`](table_data/students.csv), and [`enrollments.csv`](table_data/enrollments.csv) which are located in [`table_data`](table_data) directory.

To load the data from these CSV files into the database tables, I executed following queries.

In [3]:
%%sql
COPY courses (title, duration, paid)
FROM 'D:\DS_Camp_2023\DE_Homework2\table_data\courses.csv'
DELIMITER ','
CSV HEADER;

Running query in 'postgresql://postgres:***@localhost/mooc'

16 rows affected.

++
||
++
++

In [4]:
# Check if data was loaded into courses table correctly
%sql SELECT * FROM courses;

Running query in 'postgresql://postgres:***@localhost/mooc'

16 rows affected.

+----+---------------------------------------------------------------+------------------+-------+
| id |                             title                             |     duration     |  paid |
+----+---------------------------------------------------------------+------------------+-------+
| 1  |                 Algorithms and Data Structures                | 10 days, 0:00:00 | False |
| 2  | Learning Data Structure and Algorithms in Python from Scratch | 14 days, 0:00:00 | False |
| 3  |              Object Oriented Programming in Java              | 7 days, 0:00:00  | False |
| 4  |               IBM Full Stack Software Developer               | 90 days, 0:00:00 |  True |
| 5  |             Introduction to Front-End Development             |       None       | False |
| 6  |          HTML, CSS, and Javascript for Web Developers         | 5 days, 0:00:00  | False |
| 7  |                   Front End Web Development                   | 14 days, 0:00:00 |  True |
| 8  |                      SQL for Data Science                     | 5 days, 0:00:00  | False |
| 9  |                   PostgreSQL for Everybody                    | 5 days, 0:00:00  | False |
| 10 |             SQLite Databases | Python Programming             |       None       | False |
| 11 |                        NoSQL Databases                        | 7 days, 0:00:00  | False |
| 12 |                    Introduction to MongoDB                    | 21 days, 0:00:00 |  True |
| 13 |             Introduction to Data Science in Python            | 60 days, 0:00:00 | False |
| 14 |               Applied Machine Learning in Python              | 60 days, 0:00:00 |  True |
| 15 |                         Deep Learning                         | 90 days, 0:00:00 |  True |
| 16 |                 Convolutional Neural Networks                 | 20 days, 0:00:00 |  True |
+----+---------------------------------------------------------------+------------------+-------+

In [5]:
%%sql
COPY students (username, first_name, last_name, email)
FROM 'D:\DS_Camp_2023\DE_Homework2\table_data\students.csv'
DELIMITER ','
CSV HEADER;

Running query in 'postgresql://postgres:***@localhost/mooc'

24 rows affected.

++
||
++
++

In [6]:
# Check if data was loaded into students table correctly
%sql SELECT * FROM students;

Running query in 'postgresql://postgres:***@localhost/mooc'

24 rows affected.

+----+--------------------+------------+------------+------------------------------+
| id |      username      | first_name | last_name  |            email             |
+----+--------------------+------------+------------+------------------------------+
| 1  |    blah91antony    |    Tony    |  Baldwin   |     t.baldwin@gmail.com      |
| 2  |    tomato_dos71    |    Lisa    | Dickinson  |     lisa71dos@gmail.com      |
| 3  |   me8_represent    |    Dean    | Underwood  |  dean.underwood97@yahoo.com  |
| 4  |  ewindustrialize   |   Elise    |   Romero   |   elise11romero@gmail.com    |
| 5  |    sam00potato     |   Samuel   |   Chavez   |     s.chavez@icloud.com      |
| 6  |      emily007      |  Emiliana  |   Melton   |    melton.em10@gmail.com     |
| 7  |      lisa744       |    Lisa    | Carpenter  |   l.carpenter77@gmail.com    |
| 8  |   fictional_carl   |    Pat     |  Carlson   |    carlson856@outlook.com    |
| 9  |  boxinggoalboots   |   Martin   |  Stanton   |     martin56s@gmail.com      |
| 10 |  i_love_badminton  |    Alex    | Underwood  |       al989@proton.me        |
| 11 |  phillipswriting   |    Max     |  Phillips  |   max51phillips@gmail.com    |
| 12 |  colonization_way  |    None    |  Raymond   |    j.raymond95@yahoo.com     |
| 13 |   cyber_space84    |  Gregory   |   McLean   |     g.maclean@gmail.com      |
| 14 |   BreezeWriting    | Sebastian  |  Santiago  |    s05santiago@gmail.com     |
| 15 |  TropicalTornado   |   Martin   |  Beaulieu  |      bb65mar@proton.me       |
| 16 |     darkGrayff     |  Jennifer  |   Stone    |     stone.j@outlook.com      |
| 17 |  jurassic_park_2   |  Lillian   | Sauveterre |     lilly485@outlook.com     |
| 18 |   freshlemon986    |  Lillian   |  Raymond   | lillian.raymond001@gmail.com |
| 19 |   bond007_clark    |   James    |   Clark    |    j.clark8855@gmail.com     |
| 20 |    book_queen02    |   Holly    |   Carter   | holly.carter0605@outlook.com |
| 21 |     CannyAnnie     |   Annie    |   White    |    annie.white@icloud.com    |
| 22 | directorpennington | Stephanie  | Pennington |  s.pennington0707@gmail.com  |
| 23 |  ngc1569starwars   |   Steven   |   Weber    |     weber61615@gmail.com     |
| 24 |    everGreenAlb    |   Albert   | Richardson |     rich54.alb@proton.me     |
+----+--------------------+------------+------------+------------------------------+

In [7]:
%%sql
COPY enrollments (student_id, course_id, enrollment_time)
FROM 'D:\DS_Camp_2023\DE_Homework2\table_data\enrollments.csv'
DELIMITER ','
CSV HEADER;

Running query in 'postgresql://postgres:***@localhost/mooc'

20 rows affected.

++
||
++
++

In [8]:
# Check if data was loaded into enrollments table correctly
%sql SELECT * FROM enrollments;

Running query in 'postgresql://postgres:***@localhost/mooc'

20 rows affected.

+----+------------+-----------+---------------------+
| id | student_id | course_id |   enrollment_time   |
+----+------------+-----------+---------------------+
| 1  |     22     |     11    | 2024-02-15 15:23:10 |
| 2  |     18     |     5     | 2024-03-20 18:30:00 |
| 3  |     5      |     5     | 2023-10-20 21:11:41 |
| 4  |     19     |     4     | 2024-01-02 07:10:54 |
| 5  |     6      |     13    | 2024-03-01 00:01:00 |
| 6  |     18     |     16    | 2023-08-29 11:37:24 |
| 7  |     14     |     2     | 2024-03-26 02:04:37 |
| 8  |     17     |     5     | 2024-02-02 02:30:00 |
| 9  |     14     |     5     | 2024-02-05 07:59:50 |
| 10 |     14     |     11    | 2024-02-11 20:00:00 |
| 11 |     6      |     9     | 2022-06-25 15:55:00 |
| 12 |     17     |     16    | 2023-10-20 21:11:00 |
| 13 |     1      |     16    | 2024-03-25 09:54:00 |
| 14 |     11     |     15    | 2024-01-01 23:00:03 |
| 15 |     7      |     12    | 2024-01-31 11:30:00 |
| 16 |     2      |     14    | 2023-06-01 12:08:25 |
| 17 |     13     |     11    | 2024-02-29 12:08:01 |
| 18 |     24     |     14    | 2024-03-20 20:09:07 |
| 19 |     12     |     4     | 2023-11-30 17:45:00 |
| 20 |     2      |     9     | 2024-02-07 07:41:21 |
+----+------------+-----------+---------------------+

# Step 4: Create a dump of the database

Now that the database has tables created and populated with data, I can create a dump of the entire database. To do it, I ran `pg_dump` with following command:

```shell
pg_dump -U postgres mooc > mooc.sql
```

The dump of the database is saved in the file [`mooc.sql`](mooc.sql).